@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './layout.scss';

body {
    height: 100%;
}

ol[role="list"] {
    display: none;
}

.story {
    display: grid;
    background-color: #fff9f1;

    @include media-query('tablet') {
        grid-template-columns: 400px 1fr;
    }

    .sidebar {
        display: grid;
        align-content: space-between;
        padding: 0 spacing(2) spacing(2);
        order: 1;

        @include media-query('tablet') {
            order: 0;
            padding: spacing(4) spacing(2) spacing(2);
            width: 400px;
        }

        .content {
            display: grid;
            grid-auto-flow: row;
            row-gap: spacing(1);
            text-align: center;
            padding-top: spacing(2);

            @include media-query('tablet') {
                text-align: left;
            }

            div {
                font-family: 'Lora', sans-serif;
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
            }
        }

        .footer {
            .buttons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                align-items: center;
                padding-top: spacing(4);

                @include media-query('tablet') {
                    grid-template-columns: 1fr 100px 1fr;
                }
            }

            .pagination {
                display: none;
                font-size: 12px;

                @include media-query('tablet') {
                    display: block;
                }
            }
        }
    }

    .image {
        position: relative;
        order: 0;
        max-width: 300px;
        margin: spacing(2) auto;
        max-height: 100%;

        @include media-query('tablet') {
            order: 1;
            max-width: none;
            margin: spacing(2) spacing(4) 0 0;
            justify-self: end;
        }

        .loader {
            display: none;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &.loading {
            .loader {
                display: flex;
            }
        }

        img {
            max-height: 800px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    align-items: center;
    gap: 24px;
    justify-content: center;
    padding: spacing(2);

    &-card {
        h1 {
            text-align: center;
            margin-top: 8px;
            font-family: 'Comfortaa', sans-serif;
            font-size: 16px;
        }

        img {
            border-radius: 16px;
        }

        &-add {
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 16px;
            height: 128px;
            width: 128px;
            align-self: start;
            color: rgba(0, 0, 0, 0.4);

            &:hover {
                border-color: rgba(0, 0, 0, 0.4);
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.alert {
    padding: 16px;
    margin-bottom: 24px;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 16px;
}
