@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
}

ol[role="list"] {
    display: none;
}

.story {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
    background-color: #fff9f1;

    .sidebar {
        display: grid;
        align-content: space-between;
        width: 400px;
        padding: 32px;

        .content {
            display: grid;
            grid-auto-flow: row;
            row-gap: 16px;

            div {
                font-family: 'Lora', sans-serif;
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
            }
        }

        .footer {
            .buttons {
                display: grid;
                grid-template-columns: 1fr 100px 1fr;
                justify-content: space-between;
                align-items: center;
            }

            .pagination {
                font-size: 12px;
            }
        }
    }

    .image {
        overflow: hidden;
        margin: 32px;
        position: relative;

        .loader {
            display: none;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &.loading {
            .loader {
                display: flex;
            }
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.stories {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 128px);
    align-items: center;
    column-gap: 24px;

    &-card {
        h1 {
            text-align: center;
            margin-top: 8px;
            font-family: 'Comfortaa', sans-serif;
            font-size: 16px;
        }

        img {
            border-radius: 16px;
        }

        &-add {
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 16px;
            height: 128px;
            width: 128px;
            align-self: start;
            color: rgba(0, 0, 0, 0.4);

            &:hover {
                border-color: rgba(0, 0, 0, 0.4);
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
